<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">


		<context:component-scan base-package="com">
			<context:exclude-filter expression="org.springframework.stereotype.Controller"
        type="annotation"/>
		</context:component-scan>
	

	<!-- 配置DataSource -->
	<bean class="com.mchange.v2.c3p0.ComboPooledDataSource" id="dataSource">
		<property name="user" value="root"></property>
		<property name="password" value="120277260"></property>
		<property name="driverClass" value="com.mysql.jdbc.Driver"></property>
		<property name="jdbcUrl" value="jdbc:mysql://localhost:3306/bigdata?useUnicode=true&amp;characterEncoding=UTF-8"></property>
		<property name="maxPoolSize" value="40"></property>
        <property name="minPoolSize" value="1"></property>
        <property name="initialPoolSize" value="1"></property>
        <property name="maxIdleTime" value="20"></property>
        <property name="dataSourceName" value=""></property>
	</bean>
	<bean id="sessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource">
			<ref bean="dataSource" />
		</property>
		<property name="packagesToScan" value="com.dao"></property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">
					org.hibernate.dialect.MySQLDialect
				</prop>
			</props>
		</property>
		<property name="annotatedClasses">
			<list>
				<value>com.entity.Templateuser</value>
				<value>com.entity.Singleusercreditinformation</value>
				<value>com.entity.Logweb</value>
				<value>com.entity.Templatedata</value>
				<value>com.entity.Secondtemplatedata</value>
				<value>com.entity.Roleauthority</value>
				<value>com.entity.Adminrole</value>
				<value>com.entity.Creditratingclassification</value>
				<value>com.entity.Finaproduct</value>
				<value>com.entity.Adimauthority</value>
				<value>com.entity.Authoritypage</value>
				<value>com.entity.Role</value>
				<value>com.entity.Singleuserriskinformation</value>
				<value>com.entity.Authority</value>
				<value>com.entity.Riskpreferencetemplatecontext</value>
				<value>com.entity.Adminuser</value>
				<value>com.entity.Creditanalysistemplatecontext</value></list>
		</property>
	</bean>
	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="sessionFactory" />
	</bean>
	<tx:annotation-driven transaction-manager="transactionManager" />
<bean
		id="TemplateuserDAO" class="com.dao.TemplateuserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
</bean>
	<bean id="SingleusercreditinformationDAO"
		class="com.dao.SingleusercreditinformationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="LogwebDAO" class="com.dao.LogwebDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="TemplatedataDAO" class="com.dao.TemplatedataDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SecondtemplatedataDAO"
		class="com.dao.SecondtemplatedataDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleauthorityDAO" class="com.dao.RoleauthorityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdminroleDAO" class="com.dao.AdminroleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CreditratingclassificationDAO"
		class="com.dao.CreditratingclassificationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="FinaproductDAO" class="com.dao.FinaproductDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdimauthorityDAO" class="com.dao.AdimauthorityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AuthoritypageDAO" class="com.dao.AuthoritypageDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RoleDAO" class="com.dao.RoleDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="SingleuserriskinformationDAO"
		class="com.dao.SingleuserriskinformationDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AuthorityDAO" class="com.dao.AuthorityDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="RiskpreferencetemplatecontextDAO"
		class="com.dao.RiskpreferencetemplatecontextDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="AdminuserDAO" class="com.dao.AdminuserDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
	<bean id="CreditanalysistemplatecontextDAO"
		class="com.dao.CreditanalysistemplatecontextDAO">
		<property name="sessionFactory">
			<ref bean="sessionFactory" />
		</property>
	</bean>
</beans>