<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>BI展示页面组主框架</title>
<link href="../../css/mycss.css" rel="stylesheet" type="text/css">
<style>
#labelbody {
	color: #FFF;
	font-size: 12px;
	font-family: Microsoft YaHei;
}
</style>
</head>

<body>
<div id="continaer">
  <div id="header"> <a href="../CCASIndex.html"> <img src="../../images/logouser.png" width="620" height="75" alt="logo" > </a>
    <hr color="#6F7DA0"/>
    <div id="navhead">
      <div class="nav">
        <ul>
          <li><a href="../DataCollect/DataCollectMainFrame.html">数据采集</a></li>
          <!--具体指向那三个框架-->
          <li><a href="../ClientPortray/ClientPortrayMainFrame.html">客户画像</a></li>
          <li><a href="BIShowMainFrame.html">BI展示</a></li>
        </ul>
      </div>
    </div>
    <hr color="#848FAD"/>
  </div>
  <div id="bod">
    <div id="leftbody"> <br/>
      <div class="meau">
        <ul>
          <hr color="#575C6F"/>
          
          
          <!--选择子功能-->
          <li ><a href="CreateTemplet.html" target="rightbody" >BI01</a></li>
          <hr color="#575C6F"/>
          <li><a href="TempletManage.html"  target="rightbody">BI02</a></li>
          <hr color="#575C6F"/>
          <li><a href="CreateRecord.html" target="rightbody">BI03</a></li>
          <hr color="#575C6F"/>
          
          
        </ul>
      </div>
    </div>
    <div id="rightbody">
      <iframe src="CreateTemplet.html" name="rightbody" width="100%" height="100%"  frameborder=”no” border=”0″></iframe>
    </div>
  </div>
</div>
<script async>
	var height900=document.getElementById("continaer");
	w=height900.offsetWidth;
	h=w*0.5;
	//height900.style.height=h+"px";
	pd=w*0.01;
	//height900.style.padding=pd+"px"
</script>
</body>
</html>
